In [1]:
import json
import requests
from pprint import pprint
import pandas as pd

In [6]:
base_url="http://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCaseList?"

params = {
    'states':'06',
    'fromYear':'',
    'toYear':'',
    'minNumOfVehicles':'1',
    'maxNumOfVehicles':'10',
    'format':'json'
}

response = requests.get(base_url,params=params)

years = ['2014','2015','2016','2017','2018']

county=[]
CrashDate=[]
Fatals=[]
TotalVehicles=[]

for year in years:
    params['fromYear'] = year
    params['toYear'] = year
    
    response = requests.get(base_url,params=params).json()
   
    for county_name in response['Results'][0]:
        county.append(county_name["CountyName"])
        CrashDate.append(county_name["CrashDate"])
        Fatals.append(county_name["Fatals"])
        TotalVehicles.append(county_name["TotalVehicles"])
county

['RIVERSIDE (65)',
 'MONTEREY (53)',
 'SAN FRANCISCO (75)',
 'HUMBOLDT (23)',
 'SAN DIEGO (73)',
 'HUMBOLDT (23)',
 'ALAMEDA (1)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'YOLO (113)',
 'TULARE (107)',
 'LOS ANGELES (37)',
 'SOLANO (95)',
 'SOLANO (95)',
 'AMADOR (5)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SUTTER (101)',
 'LOS ANGELES (37)',
 'SAN LUIS OBISPO (79)',
 'SAN BERNARDINO (71)',
 'MENDOCINO (45)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'SHASTA (89)',
 'RIVERSIDE (65)',
 'ORANGE (59)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'BUTTE (7)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'TEHAMA (103)',
 'ORANGE (59)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'SAN JOAQUIN (77)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'BUTTE (7)',
 'ORANGE (59)',
 'TULARE (107)',
 'SAN MATEO (81)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'MENDOCINO (45)',
 'RIVERSIDE (65)',
 'SANTA CRUZ (87)',
 'SANTA CLARA (85)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'SUTTER (101)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'EL DORADO (17)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'MONO (51)',
 'TULARE (107)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'SACRAMENTO (67)',
 'SANTA CRUZ (87)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'SAN JOAQUIN (77)',
 'SANTA BARBARA (83)',
 'BUTTE (7)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'SAN MATEO (81)',
 'SANTA CLARA (85)',
 'SAN JOAQUIN (77)',
 'BUTTE (7)',
 'MARIPOSA (43)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'SANTA CLARA (85)',
 'TULARE (107)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'SONOMA (97)',
 'ALAMEDA (1)',
 'RIVERSIDE (65)',
 'MERCED (47)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'SAN JOAQUIN (77)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'BUTTE (7)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'AMADOR (5)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'SOLANO (95)',
 'ORANGE (59)',
 'MADERA (39)',
 'RIVERSIDE (65)',
 'SOLANO (95)',
 'ORANGE (59)',
 'RIVERSIDE (65)',
 'MARIN (41)',
 'IMPERIAL (25)',
 'LOS ANGELES (37)',
 'MARIPOSA (43)',
 'TUOLUMNE (109)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'SANTA CLARA (85)',
 'ORANGE (59)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'SANTA BARBARA (83)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SUTTER (101)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'ALAMEDA (1)',
 'SANTA CLARA (85)',
 'HUMBOLDT (23)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'MARIPOSA (43)',
 'BUTTE (7)',
 'MERCED (47)',
 'SANTA CLARA (85)',
 'IMPERIAL (25)',
 'COLUSA (11)',
 'STANISLAUS (99)',
 'LAKE (33)',
 'SAN BERNARDINO (71)',
 'MONTEREY (53)',
 'ORANGE (59)',
 'SAN DIEGO (73)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SAN LUIS OBISPO (79)',
 'SAN LUIS OBISPO (79)',
 'RIVERSIDE (65)',
 'VENTURA (111)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'SUTTER (101)',
 'STANISLAUS (99)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'PLACER (61)',
 'SANTA CRUZ (87)',
 'KERN (29)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'SACRAMENTO (67)',
 'MONTEREY (53)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'SANTA CLARA (85)',
 'PLACER (61)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'IMPERIAL (25)',
 'SACRAMENTO (67)',
 'SAN LUIS OBISPO (79)',
 'LOS ANGELES (37)',
 'IMPERIAL (25)',
 'LOS ANGELES (37)',
 'NEVADA (57)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'KERN (29)',
 'ORANGE (59)',
 'TUOLUMNE (109)',
 'SAN BERNARDINO (71)',
 'IMPERIAL (25)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'SACRAMENTO (67)',
 'FRESNO (19)',
 'SOLANO (95)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'TUOLUMNE (109)',
 'SAN JOAQUIN (77)',
 'MERCED (47)',
 'MENDOCINO (45)',
 'SAN DIEGO (73)',
 'SAN FRANCISCO (75)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'TULARE (107)',
 'CONTRA COSTA (13)',
 'RIVERSIDE (65)',
 'MONTEREY (53)',
 'LOS ANGELES (37)',
 'TULARE (107)',
 'ORANGE (59)',
 'SANTA BARBARA (83)',
 'LASSEN (35)',
 'SAN DIEGO (73)',
 'TRINITY (105)',
 'SAN DIEGO (73)',
 'TUOLUMNE (109)',
 'LOS ANGELES (37)',
 'TULARE (107)',
 'FRESNO (19)',
 'KERN (29)',
 'SAN JOAQUIN (77)',
 'EL DORADO (17)',
 'YOLO (113)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'ORANGE (59)',
 'ORANGE (59)',
 'RIVERSIDE (65)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'MONTEREY (53)',
 'NEVADA (57)',
 'PLACER (61)',
 'MONTEREY (53)',
 'SAN JOAQUIN (77)',
 'ORANGE (59)',
 'BUTTE (7)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'ORANGE (59)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'SOLANO (95)',
 'TULARE (107)',
 'SAN DIEGO (73)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'YOLO (113)',
 'RIVERSIDE (65)',
 'SAN DIEGO (73)',
 'ALAMEDA (1)',
 'SAN LUIS OBISPO (79)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'ORANGE (59)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN FRANCISCO (75)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'ALAMEDA (1)',
 'SAN BERNARDINO (71)',
 'SANTA BARBARA (83)',
 'ORANGE (59)',
 'ORANGE (59)',
 'SAN BERNARDINO (71)',
 'SACRAMENTO (67)',
 'IMPERIAL (25)',
 'TULARE (107)',
 'SUTTER (101)',
 'FRESNO (19)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'ALAMEDA (1)',
 'LOS ANGELES (37)',
 'ALAMEDA (1)',
 'KERN (29)',
 'ALAMEDA (1)',
 'SAN BERNARDINO (71)',
 'ALAMEDA (1)',
 'KERN (29)',
 'SUTTER (101)',
 'SANTA BARBARA (83)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'SANTA CLARA (85)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'SOLANO (95)',
 'ORANGE (59)',
 'FRESNO (19)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'NEVADA (57)',
 'SAN MATEO (81)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'ORANGE (59)',
 'TULARE (107)',
 'MENDOCINO (45)',
 'EL DORADO (17)',
 'SAN BERNARDINO (71)',
 'CONTRA COSTA (13)',
 'BUTTE (7)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'MENDOCINO (45)',
 'VENTURA (111)',
 'HUMBOLDT (23)',
 'LOS ANGELES (37)',
 'VENTURA (111)',
 'SAN BERNARDINO (71)',
 'MONO (51)',
 'LOS ANGELES (37)',
 'NAPA (55)',
 'STANISLAUS (99)',
 'SANTA CLARA (85)',
 'SHASTA (89)',
 'SAN DIEGO (73)',
 'SAN LUIS OBISPO (79)',
 'SONOMA (97)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'MADERA (39)',
 'RIVERSIDE (65)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'ALAMEDA (1)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'SAN BERNARDINO (71)',
 'SONOMA (97)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'SHASTA (89)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'ALAMEDA (1)',
 'SAN BERNARDINO (71)',
 'SOLANO (95)',
 'SOLANO (95)',
 'KERN (29)',
 'ORANGE (59)',
 'SAN DIEGO (73)',
 'HUMBOLDT (23)',
 'SOLANO (95)',
 'MONTEREY (53)',
 'FRESNO (19)',
 'KERN (29)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'PLUMAS (63)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'FRESNO (19)',
 'SOLANO (95)',
 'TULARE (107)',
 'VENTURA (111)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'TUOLUMNE (109)',
 'KERN (29)',
 'SAN DIEGO (73)',
 'ORANGE (59)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'SANTA CLARA (85)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'MERCED (47)',
 'ALAMEDA (1)',
 'TUOLUMNE (109)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'MADERA (39)',
 'SANTA CRUZ (87)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'VENTURA (111)',
 'ALAMEDA (1)',
 'IMPERIAL (25)',
 'NAPA (55)',
 'MONTEREY (53)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LAKE (33)',
 'PLACER (61)',
 'RIVERSIDE (65)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'YUBA (115)',
 'SAN BERNARDINO (71)',
 'SANTA CLARA (85)',
 'SOLANO (95)',
 'LOS ANGELES (37)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'IMPERIAL (25)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'SACRAMENTO (67)',
 'RIVERSIDE (65)',
 'SISKIYOU (93)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'RIVERSIDE (65)',
 'RIVERSIDE (65)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'ORANGE (59)',
 'SAN BERNARDINO (71)',
 'KERN (29)',
 'SAN DIEGO (73)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'SAN DIEGO (73)',
 'SANTA BARBARA (83)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'SHASTA (89)',
 'SISKIYOU (93)',
 'SANTA CLARA (85)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'SAN BERNARDINO (71)',
 'SAN BENITO (69)',
 'SANTA CLARA (85)',
 'MADERA (39)',
 'MERCED (47)',
 'SAN MATEO (81)',
 'SAN DIEGO (73)',
 'SAN JOAQUIN (77)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'SONOMA (97)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'EL DORADO (17)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'MADERA (39)',
 'YOLO (113)',
 'SACRAMENTO (67)',
 'MERCED (47)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'IMPERIAL (25)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'ALAMEDA (1)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'VENTURA (111)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'SAN JOAQUIN (77)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'VENTURA (111)',
 'TULARE (107)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'CONTRA COSTA (13)',
 'SONOMA (97)',
 'MONTEREY (53)',
 'KERN (29)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'MADERA (39)',
 'SANTA CLARA (85)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'ORANGE (59)',
 'MONTEREY (53)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'STANISLAUS (99)',
 'SAN BERNARDINO (71)',
 'SANTA CRUZ (87)',
 'MENDOCINO (45)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'SACRAMENTO (67)',
 'SAN MATEO (81)',
 'SAN BERNARDINO (71)',
 'ALAMEDA (1)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'KERN (29)',
 'SAN BERNARDINO (71)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'CONTRA COSTA (13)',
 'SANTA CLARA (85)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'MENDOCINO (45)',
 'SOLANO (95)',
 'RIVERSIDE (65)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'SAN MATEO (81)',
 'HUMBOLDT (23)',
 'RIVERSIDE (65)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'SANTA CLARA (85)',
 'SAN DIEGO (73)',
 'IMPERIAL (25)',
 'LOS ANGELES (37)',
 'SANTA BARBARA (83)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'CONTRA COSTA (13)',
 'KINGS (31)',
 'CONTRA COSTA (13)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'RIVERSIDE (65)',
 'ORANGE (59)',
 'SANTA CRUZ (87)',
 'RIVERSIDE (65)',
 'PLACER (61)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'ALAMEDA (1)',
 'SONOMA (97)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'ORANGE (59)',
 'SACRAMENTO (67)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'TRINITY (105)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'SAN JOAQUIN (77)',
 'PLACER (61)',
 'SAN BERNARDINO (71)',
 'FRESNO (19)',
 'VENTURA (111)',
 'VENTURA (111)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'MENDOCINO (45)',
 'BUTTE (7)',
 'LOS ANGELES (37)',
 'SANTA CLARA (85)',
 'SACRAMENTO (67)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'STANISLAUS (99)',
 'TEHAMA (103)',
 'SONOMA (97)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'BUTTE (7)',
 'SAN JOAQUIN (77)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'MARIN (41)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'SANTA CRUZ (87)',
 'RIVERSIDE (65)',
 'MONTEREY (53)',
 'SAN DIEGO (73)',
 'IMPERIAL (25)',
 'SONOMA (97)',
 'SAN JOAQUIN (77)',
 'SACRAMENTO (67)',
 'BUTTE (7)',
 'BUTTE (7)',
 'SACRAMENTO (67)',
 'HUMBOLDT (23)',
 'SAN DIEGO (73)',
 'VENTURA (111)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'SAN JOAQUIN (77)',
 'SAN BERNARDINO (71)',
 'MERCED (47)',
 'PLACER (61)',
 'SAN DIEGO (73)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'SACRAMENTO (67)',
 'STANISLAUS (99)',
 'FRESNO (19)',
 'PLUMAS (63)',
 'SANTA CLARA (85)',
 'SAN BERNARDINO (71)',
 'IMPERIAL (25)',
 'RIVERSIDE (65)',
 'MERCED (47)',
 'LOS ANGELES (37)',
 'EL DORADO (17)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LAKE (33)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'FRESNO (19)',
 'IMPERIAL (25)',
 'SACRAMENTO (67)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'SHASTA (89)',
 'KERN (29)',
 'SAN JOAQUIN (77)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'SAN LUIS OBISPO (79)',
 'CALAVERAS (9)',
 'IMPERIAL (25)',
 'SAN BERNARDINO (71)',
 'SAN BERNARDINO (71)',
 'STANISLAUS (99)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LASSEN (35)',
 'TEHAMA (103)',
 'TULARE (107)',
 'CALAVERAS (9)',
 'RIVERSIDE (65)',
 'YUBA (115)',
 'SONOMA (97)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'MENDOCINO (45)',
 'SAN JOAQUIN (77)',
 'ORANGE (59)',
 'YOLO (113)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN JOAQUIN (77)',
 'LOS ANGELES (37)',
 'IMPERIAL (25)',
 'MERCED (47)',
 'SAN JOAQUIN (77)',
 'SOLANO (95)',
 'MERCED (47)',
 'TULARE (107)',
 'MONO (51)',
 'SAN BENITO (69)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'KERN (29)',
 'IMPERIAL (25)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'BUTTE (7)',
 'SAN BERNARDINO (71)',
 'RIVERSIDE (65)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'DEL NORTE (15)',
 'ORANGE (59)',
 'SANTA CLARA (85)',
 'IMPERIAL (25)',
 'SAN BERNARDINO (71)',
 'SAN DIEGO (73)',
 'CONTRA COSTA (13)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'ALAMEDA (1)',
 'MARIN (41)',
 'CONTRA COSTA (13)',
 'LOS ANGELES (37)',
 'COLUSA (11)',
 'SANTA CLARA (85)',
 'ALAMEDA (1)',
 'ORANGE (59)',
 'MADERA (39)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'SAN DIEGO (73)',
 'MADERA (39)',
 'HUMBOLDT (23)',
 'ALAMEDA (1)',
 'RIVERSIDE (65)',
 'SAN JOAQUIN (77)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'FRESNO (19)',
 'LOS ANGELES (37)',
 'KERN (29)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SACRAMENTO (67)',
 'SANTA CRUZ (87)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'SOLANO (95)',
 'RIVERSIDE (65)',
 'SACRAMENTO (67)',
 'SAN DIEGO (73)',
 'DEL NORTE (15)',
 'SAN DIEGO (73)',
 'KERN (29)',
 'MERCED (47)',
 'SAN DIEGO (73)',
 'STANISLAUS (99)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'SAN MATEO (81)',
 'MADERA (39)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'SONOMA (97)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'LOS ANGELES (37)',
 'MERCED (47)',
 'SAN DIEGO (73)',
 'SAN BERNARDINO (71)',
 'SAN FRANCISCO (75)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'FRESNO (19)',
 'VENTURA (111)',
 'VENTURA (111)',
 'RIVERSIDE (65)',
 'SAN BERNARDINO (71)',
 'STANISLAUS (99)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'SHASTA (89)',
 'FRESNO (19)',
 'MERCED (47)',
 'FRESNO (19)',
 'SAN BERNARDINO (71)',
 'MERCED (47)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'KERN (29)',
 'SACRAMENTO (67)',
 'FRESNO (19)',
 'SACRAMENTO (67)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'MERCED (47)',
 'SAN BERNARDINO (71)',
 'LOS ANGELES (37)',
 'SAN BERNARDINO (71)',
 'SAN LUIS OBISPO (79)',
 'FRESNO (19)',
 'KERN (29)',
 'SONOMA (97)',
 'SAN LUIS OBISPO (79)',
 'ORANGE (59)',
 'SANTA CLARA (85)',
 'HUMBOLDT (23)',
 'ORANGE (59)',
 'EL DORADO (17)',
 'RIVERSIDE (65)',
 'SAN BERNARDINO (71)',
 'SOLANO (95)',
 'YUBA (115)',
 'SAN JOAQUIN (77)',
 'SAN DIEGO (73)',
 'CALAVERAS (9)',
 'STANISLAUS (99)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'STANISLAUS (99)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'TULARE (107)',
 'SANTA CRUZ (87)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'RIVERSIDE (65)',
 'ORANGE (59)',
 'STANISLAUS (99)',
 'SANTA CRUZ (87)',
 'KERN (29)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'SAN DIEGO (73)',
 'LOS ANGELES (37)',
 'ORANGE (59)',
 'SHASTA (89)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'LOS ANGELES (37)',
 'CONTRA COSTA (13)',
 'ORANGE (59)',
 'LOS ANGELES (37)',
 'SONOMA (97)',
 'FRESNO (19)',
 'SAN MATEO (81)',
 'SAN DIEGO (73)',
 'FRESNO (19)',
 'TUOLUMNE (109)',
 'RIVERSIDE (65)',
 'SONOMA (97)',
 'ALAMEDA (1)',
 'FRESNO (19)',
 'FRESNO (19)',
 'SANTA CLARA (85)',
 'FRESNO (19)',
 'SAN JOAQUIN (77)',
 'RIVERSIDE (65)',
 'SAN DIEGO (73)',
 'CONTRA COSTA (13)',
 'MADERA (39)',
 'ORANGE (59)',
 ...]

In [7]:
len(county)

16348

In [11]:
CA_dict = {
    "county_name": county,
    "Crash_date":CrashDate ,
    "Fatals": Fatals,
    "Total_vehicles":TotalVehicles
}
CA_data =pd.DataFrame(CA_dict)
CA_data

               county_name                  Crash_date  Fatals  Total_vehicles
0           RIVERSIDE (65)  /Date(1388755920000-0500)/       1               2
1            MONTEREY (53)  /Date(1388570400000-0500)/       1               1
2       SAN FRANCISCO (75)  /Date(1388745000000-0500)/       1               1
3            HUMBOLDT (23)  /Date(1388579400000-0500)/       1               1
4           SAN DIEGO (73)  /Date(1389301800000-0500)/       1               2
...                    ...                         ...     ...             ...
16343          ALAMEDA (1)  /Date(1545551160000-0500)/       1               1
16344  SAN BERNARDINO (71)  /Date(1541039460000-0400)/       1               1
16345     LOS ANGELES (37)  /Date(1542385680000-0500)/       1               4
16346     LOS ANGELES (37)  /Date(1525946220000-0400)/       1               2
16347          ORANGE (59)  /Date(1518894840000-0500)/       1               2

[16348 rows x 4 columns]

In [12]:
LA_county=CA_data.loc[CA_data["county_name"]=="LOS ANGELES (37)",:]

In [13]:
LA_county

            county_name                  Crash_date  Fatals  Total_vehicles
11     LOS ANGELES (37)  /Date(1388652300000-0500)/       1               1
16     LOS ANGELES (37)  /Date(1388804400000-0500)/       1               1
18     LOS ANGELES (37)  /Date(1388818920000-0500)/       1               1
23     LOS ANGELES (37)  /Date(1389147300000-0500)/       1               1
29     LOS ANGELES (37)  /Date(1389048840000-0500)/       1               2
...                 ...                         ...     ...             ...
16329  LOS ANGELES (37)  /Date(1532217420000-0400)/       1               2
16336  LOS ANGELES (37)  /Date(1524806580000-0400)/       2               1
16337  LOS ANGELES (37)  /Date(1517972400000-0500)/       1               1
16345  LOS ANGELES (37)  /Date(1542385680000-0500)/       1               4
16346  LOS ANGELES (37)  /Date(1525946220000-0400)/       1               2

[3324 rows x 4 columns]

In [14]:
LA_county.to_csv("LA County Output")

In [15]:
SD_county=CA_data.loc[CA_data["county_name"]=="SAN DIEGO (73)",:]

In [16]:
SD_county

          county_name                  Crash_date  Fatals  Total_vehicles
4      SAN DIEGO (73)  /Date(1389301800000-0500)/       1               2
7      SAN DIEGO (73)  /Date(1389064080000-0500)/       1               2
15     SAN DIEGO (73)  /Date(1388777700000-0500)/       1               1
27     SAN DIEGO (73)  /Date(1389389880000-0500)/       1               1
38     SAN DIEGO (73)  /Date(1389122940000-0500)/       1               2
...               ...                         ...     ...             ...
16262  SAN DIEGO (73)  /Date(1540513440000-0400)/       1               1
16268  SAN DIEGO (73)  /Date(1543806000000-0500)/       1               1
16283  SAN DIEGO (73)  /Date(1533087960000-0400)/       1               2
16296  SAN DIEGO (73)  /Date(1544928780000-0500)/       1               1
16305  SAN DIEGO (73)  /Date(1545080040000-0500)/       1               3

[1140 rows x 4 columns]

In [17]:
SD_county.to_csv("output counties/SD County Output")

In [18]:
SC_county=CA_data.loc[CA_data["county_name"]=="SANTA CLARA (85)",:]

In [19]:
SC_county

            county_name                    Crash_date  Fatals  Total_vehicles
64     SANTA CLARA (85)    /Date(1389415800000-0500)/       1               1
94     SANTA CLARA (85)  /Date(-62135578800000-0500)/       1               1
102    SANTA CLARA (85)    /Date(1390432560000-0500)/       1               3
109    SANTA CLARA (85)    /Date(1390180140000-0500)/       1               1
127    SANTA CLARA (85)    /Date(1390030320000-0500)/       1               1
...                 ...                           ...     ...             ...
16333  SANTA CLARA (85)    /Date(1543113720000-0500)/       1               1
16334  SANTA CLARA (85)    /Date(1543047540000-0500)/       1               1
16335  SANTA CLARA (85)    /Date(1545025200000-0500)/       1               1
16338  SANTA CLARA (85)    /Date(1541537940000-0500)/       1               1
16339  SANTA CLARA (85)    /Date(1544285700000-0500)/       1               2

[553 rows x 4 columns]

In [20]:
SC_county.to_csv("output counties/SC County Output")