In [45]:
import json
import requests
from pprint import pprint
import pandas as pd

In [46]:
base_url="http://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCaseList?"

params = {
    'states':'36',
    'fromYear':'',
    'toYear':'',
    'minNumOfVehicles':'1',
    'maxNumOfVehicles':'10',
    'format':'json'
}

response = requests.get(base_url,params=params)

years = ['2014','2015','2016','2017','2018']

county=[]
CrashDate=[]
Fatals=[]
TotalVehicles=[]

for year in years:
    params['fromYear'] = year
    params['toYear'] = year
    
    response = requests.get(base_url,params=params).json()
   
    for county_name in response['Results'][0]:
        county.append(county_name["CountyName"])
        CrashDate.append(county_name["CrashDate"])
        Fatals.append(county_name["Fatals"])
        TotalVehicles.append(county_name["TotalVehicles"])

In [48]:
county

['FULTON (35)',
 'QUEENS (81)',
 'ERIE (29)',
 'NASSAU (59)',
 'QUEENS (81)',
 'KINGS (47)',
 'RICHMOND (85)',
 'WESTCHESTER (119)',
 'KINGS (47)',
 'WARREN (113)',
 'WASHINGTON (115)',
 'ORANGE (71)',
 'ONONDAGA (67)',
 'NEW YORK (61)',
 'OSWEGO (75)',
 'NEW YORK (61)',
 'WAYNE (117)',
 'ONEIDA (65)',
 'KINGS (47)',
 'STEUBEN (101)',
 'BRONX (5)',
 'ORANGE (71)',
 'ONTARIO (69)',
 'TOMPKINS (109)',
 'SUFFOLK (103)',
 'NEW YORK (61)',
 'NASSAU (59)',
 'CAYUGA (11)',
 'ORANGE (71)',
 'KINGS (47)',
 'NIAGARA (63)',
 'QUEENS (81)',
 'ALBANY (1)',
 'NEW YORK (61)',
 'ALBANY (1)',
 'PUTNAM (79)',
 'BRONX (5)',
 'COLUMBIA (21)',
 'COLUMBIA (21)',
 'OTSEGO (77)',
 'ST LAWRENCE (89)',
 'RENSSELAER (83)',
 'ONTARIO (69)',
 'HERKIMER (43)',
 'NASSAU (59)',
 'YATES (123)',
 'MONROE (55)',
 'NASSAU (59)',
 'NASSAU (59)',
 'BROOME (7)',
 'ULSTER (111)',
 'ORLEANS (73)',
 'KINGS (47)',
 'CHEMUNG (15)',
 'ERIE (29)',
 'ONONDAGA (67)',
 'MONROE (55)',
 'ULSTER (111)',
 'LIVINGSTON (51)',
 'HERKIMER (43)',
 'KINGS (47)',
 'ORANGE (71)',
 'QUEENS (81)',
 'MONROE (55)',
 'KINGS (47)',
 'NEW YORK (61)',
 'DUTCHESS (27)',
 'CHAUTAUQUA (13)',
 'NEW YORK (61)',
 'ONTARIO (69)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'CHENANGO (17)',
 'KINGS (47)',
 'RICHMOND (85)',
 'SUFFOLK (103)',
 'LEWIS (49)',
 'QUEENS (81)',
 'ORANGE (71)',
 'BRONX (5)',
 'SULLIVAN (105)',
 'OSWEGO (75)',
 'ERIE (29)',
 'ERIE (29)',
 'WESTCHESTER (119)',
 'DUTCHESS (27)',
 'QUEENS (81)',
 'KINGS (47)',
 'SUFFOLK (103)',
 'WYOMING (121)',
 'ERIE (29)',
 'DUTCHESS (27)',
 'PUTNAM (79)',
 'ONONDAGA (67)',
 'NASSAU (59)',
 'ERIE (29)',
 'NASSAU (59)',
 'SUFFOLK (103)',
 'ORANGE (71)',
 'NEW YORK (61)',
 'SUFFOLK (103)',
 'ONONDAGA (67)',
 'SUFFOLK (103)',
 'SCHENECTADY (93)',
 'ERIE (29)',
 'FULTON (35)',
 'NASSAU (59)',
 'ORANGE (71)',
 'WESTCHESTER (119)',
 'ERIE (29)',
 'RENSSELAER (83)',
 'QUEENS (81)',
 'SENECA (99)',
 'ROCKLAND (87)',
 'QUEENS (81)',
 'QUEENS (81)',
 'NASSAU (59)',
 'MONTGOMERY (57)',
 'KINGS (47)',
 'NIAGARA (63)',
 'JEFFERSON (45)',
 'ALBANY (1)',
 'ESSEX (31)',
 'ORANGE (71)',
 'QUEENS (81)',
 'OSWEGO (75)',
 'NASSAU (59)',
 'KINGS (47)',
 'SCHENECTADY (93)',
 'ULSTER (111)',
 'NASSAU (59)',
 'KINGS (47)',
 'BRONX (5)',
 'NEW YORK (61)',
 'KINGS (47)',
 'BRONX (5)',
 'ERIE (29)',
 'ALLEGANY (3)',
 'NASSAU (59)',
 'KINGS (47)',
 'NEW YORK (61)',
 'BRONX (5)',
 'NIAGARA (63)',
 'CORTLAND (23)',
 'WAYNE (117)',
 'STEUBEN (101)',
 'ONONDAGA (67)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'OSWEGO (75)',
 'OSWEGO (75)',
 'ONTARIO (69)',
 'ALBANY (1)',
 'MONROE (55)',
 'MONROE (55)',
 'NASSAU (59)',
 'QUEENS (81)',
 'KINGS (47)',
 'LIVINGSTON (51)',
 'NEW YORK (61)',
 'FRANKLIN (33)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'DELAWARE (25)',
 'ONONDAGA (67)',
 'QUEENS (81)',
 'SCHENECTADY (93)',
 'CHENANGO (17)',
 'NASSAU (59)',
 'ROCKLAND (87)',
 'RICHMOND (85)',
 'MONROE (55)',
 'MONROE (55)',
 'SARATOGA (91)',
 'ONTARIO (69)',
 'LIVINGSTON (51)',
 'NASSAU (59)',
 'ORANGE (71)',
 'WESTCHESTER (119)',
 'KINGS (47)',
 'WESTCHESTER (119)',
 'QUEENS (81)',
 'PUTNAM (79)',
 'ERIE (29)',
 'OSWEGO (75)',
 'ORANGE (71)',
 'QUEENS (81)',
 'SULLIVAN (105)',
 'KINGS (47)',
 'QUEENS (81)',
 'ORANGE (71)',
 'ERIE (29)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'RICHMOND (85)',
 'SUFFOLK (103)',
 'ROCKLAND (87)',
 'QUEENS (81)',
 'DUTCHESS (27)',
 'CATTARAUGUS (9)',
 'ONONDAGA (67)',
 'NASSAU (59)',
 'OSWEGO (75)',
 'SCHENECTADY (93)',
 'MONTGOMERY (57)',
 'YATES (123)',
 'QUEENS (81)',
 'KINGS (47)',
 'JEFFERSON (45)',
 'CORTLAND (23)',
 'NASSAU (59)',
 'ONEIDA (65)',
 'BRONX (5)',
 'QUEENS (81)',
 'GENESEE (37)',
 'WAYNE (117)',
 'ULSTER (111)',
 'ORANGE (71)',
 'NASSAU (59)',
 'KINGS (47)',
 'QUEENS (81)',
 'NASSAU (59)',
 'CORTLAND (23)',
 'QUEENS (81)',
 'CHEMUNG (15)',
 'NASSAU (59)',
 'KINGS (47)',
 'NEW YORK (61)',
 'NEW YORK (61)',
 'KINGS (47)',
 'DUTCHESS (27)',
 'CATTARAUGUS (9)',
 'NEW YORK (61)',
 'MONROE (55)',
 'SUFFOLK (103)',
 'BROOME (7)',
 'NASSAU (59)',
 'ONONDAGA (67)',
 'HERKIMER (43)',
 'DUTCHESS (27)',
 'NEW YORK (61)',
 'OSWEGO (75)',
 'NASSAU (59)',
 'ALBANY (1)',
 'SULLIVAN (105)',
 'SENECA (99)',
 'ONTARIO (69)',
 'NASSAU (59)',
 'MONROE (55)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'RICHMOND (85)',
 'NASSAU (59)',
 'QUEENS (81)',
 'HERKIMER (43)',
 'ORLEANS (73)',
 'KINGS (47)',
 'WESTCHESTER (119)',
 'SCHUYLER (97)',
 'QUEENS (81)',
 'OTSEGO (77)',
 'PUTNAM (79)',
 'SUFFOLK (103)',
 'DUTCHESS (27)',
 'ALBANY (1)',
 'KINGS (47)',
 'QUEENS (81)',
 'KINGS (47)',
 'NASSAU (59)',
 'ONONDAGA (67)',
 'NEW YORK (61)',
 'RENSSELAER (83)',
 'LEWIS (49)',
 'QUEENS (81)',
 'ORANGE (71)',
 'SARATOGA (91)',
 'SUFFOLK (103)',
 'WESTCHESTER (119)',
 'BRONX (5)',
 'KINGS (47)',
 'QUEENS (81)',
 'BROOME (7)',
 'NIAGARA (63)',
 'ERIE (29)',
 'OSWEGO (75)',
 'WESTCHESTER (119)',
 'SARATOGA (91)',
 'ROCKLAND (87)',
 'NIAGARA (63)',
 'WAYNE (117)',
 'JEFFERSON (45)',
 'BRONX (5)',
 'FULTON (35)',
 'MONROE (55)',
 'QUEENS (81)',
 'NASSAU (59)',
 'SUFFOLK (103)',
 'ERIE (29)',
 'KINGS (47)',
 'CLINTON (19)',
 'STEUBEN (101)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'CLINTON (19)',
 'TIOGA (107)',
 'ERIE (29)',
 'BRONX (5)',
 'BROOME (7)',
 'QUEENS (81)',
 'SARATOGA (91)',
 'COLUMBIA (21)',
 'QUEENS (81)',
 'ROCKLAND (87)',
 'SARATOGA (91)',
 'JEFFERSON (45)',
 'ERIE (29)',
 'ROCKLAND (87)',
 'RICHMOND (85)',
 'CATTARAUGUS (9)',
 'WASHINGTON (115)',
 'QUEENS (81)',
 'GREENE (39)',
 'LIVINGSTON (51)',
 'ONONDAGA (67)',
 'NASSAU (59)',
 'LIVINGSTON (51)',
 'TIOGA (107)',
 'SUFFOLK (103)',
 'ERIE (29)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'OTSEGO (77)',
 'SUFFOLK (103)',
 'NASSAU (59)',
 'SUFFOLK (103)',
 'TOMPKINS (109)',
 'BRONX (5)',
 'ORANGE (71)',
 'ERIE (29)',
 'ERIE (29)',
 'OSWEGO (75)',
 'NASSAU (59)',
 'OSWEGO (75)',
 'NASSAU (59)',
 'NASSAU (59)',
 'ERIE (29)',
 'KINGS (47)',
 'RICHMOND (85)',
 'WARREN (113)',
 'ONTARIO (69)',
 'BROOME (7)',
 'SARATOGA (91)',
 'TOMPKINS (109)',
 'KINGS (47)',
 'NIAGARA (63)',
 'SENECA (99)',
 'OSWEGO (75)',
 'KINGS (47)',
 'SENECA (99)',
 'STEUBEN (101)',
 'ONONDAGA (67)',
 'HERKIMER (43)',
 'SARATOGA (91)',
 'FULTON (35)',
 'YATES (123)',
 'KINGS (47)',
 'SUFFOLK (103)',
 'WYOMING (121)',
 'SARATOGA (91)',
 'QUEENS (81)',
 'KINGS (47)',
 'NEW YORK (61)',
 'ALBANY (1)',
 'MONROE (55)',
 'NASSAU (59)',
 'QUEENS (81)',
 'QUEENS (81)',
 'ONEIDA (65)',
 'GENESEE (37)',
 'ERIE (29)',
 'MADISON (53)',
 'SARATOGA (91)',
 'KINGS (47)',
 'NEW YORK (61)',
 'JEFFERSON (45)',
 'ALBANY (1)',
 'SUFFOLK (103)',
 'WAYNE (117)',
 'ALBANY (1)',
 'ORANGE (71)',
 'ALBANY (1)',
 'KINGS (47)',
 'SULLIVAN (105)',
 'WASHINGTON (115)',
 'ONONDAGA (67)',
 'KINGS (47)',
 'ERIE (29)',
 'ERIE (29)',
 'BRONX (5)',
 'NIAGARA (63)',
 'ESSEX (31)',
 'ALBANY (1)',
 'MONROE (55)',
 'QUEENS (81)',
 'RICHMOND (85)',
 'DELAWARE (25)',
 'ONONDAGA (67)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'CHAUTAUQUA (13)',
 'ALLEGANY (3)',
 'LEWIS (49)',
 'HERKIMER (43)',
 'NASSAU (59)',
 'QUEENS (81)',
 'WESTCHESTER (119)',
 'YATES (123)',
 'KINGS (47)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'WASHINGTON (115)',
 'SULLIVAN (105)',
 'ORANGE (71)',
 'QUEENS (81)',
 'WASHINGTON (115)',
 'NEW YORK (61)',
 'BRONX (5)',
 'WESTCHESTER (119)',
 'ALBANY (1)',
 'QUEENS (81)',
 'KINGS (47)',
 'ALBANY (1)',
 'MONROE (55)',
 'ONEIDA (65)',
 'QUEENS (81)',
 'NASSAU (59)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'QUEENS (81)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'MONROE (55)',
 'WARREN (113)',
 'ORANGE (71)',
 'QUEENS (81)',
 'ST LAWRENCE (89)',
 'QUEENS (81)',
 'MONROE (55)',
 'RENSSELAER (83)',
 'STEUBEN (101)',
 'MONROE (55)',
 'NIAGARA (63)',
 'SULLIVAN (105)',
 'QUEENS (81)',
 'GREENE (39)',
 'ULSTER (111)',
 'ULSTER (111)',
 'NASSAU (59)',
 'CATTARAUGUS (9)',
 'ORANGE (71)',
 'COLUMBIA (21)',
 'WESTCHESTER (119)',
 'LEWIS (49)',
 'KINGS (47)',
 'WARREN (113)',
 'MONROE (55)',
 'NASSAU (59)',
 'ORANGE (71)',
 'QUEENS (81)',
 'RENSSELAER (83)',
 'PUTNAM (79)',
 'WESTCHESTER (119)',
 'DUTCHESS (27)',
 'ALBANY (1)',
 'WAYNE (117)',
 'WESTCHESTER (119)',
 'NASSAU (59)',
 'QUEENS (81)',
 'DUTCHESS (27)',
 'NASSAU (59)',
 'MADISON (53)',
 'ERIE (29)',
 'MONROE (55)',
 'ERIE (29)',
 'SUFFOLK (103)',
 'SULLIVAN (105)',
 'SUFFOLK (103)',
 'ONTARIO (69)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ERIE (29)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'QUEENS (81)',
 'CLINTON (19)',
 'KINGS (47)',
 'WASHINGTON (115)',
 'MADISON (53)',
 'MONROE (55)',
 'ROCKLAND (87)',
 'ST LAWRENCE (89)',
 'KINGS (47)',
 'MADISON (53)',
 'QUEENS (81)',
 'STEUBEN (101)',
 'SUFFOLK (103)',
 'NEW YORK (61)',
 'ERIE (29)',
 'SUFFOLK (103)',
 'NASSAU (59)',
 'SENECA (99)',
 'DUTCHESS (27)',
 'MONROE (55)',
 'ERIE (29)',
 'ALBANY (1)',
 'NASSAU (59)',
 'FULTON (35)',
 'NASSAU (59)',
 'ULSTER (111)',
 'ONEIDA (65)',
 'WAYNE (117)',
 'LIVINGSTON (51)',
 'SUFFOLK (103)',
 'ULSTER (111)',
 'SUFFOLK (103)',
 'ERIE (29)',
 'QUEENS (81)',
 'WESTCHESTER (119)',
 'KINGS (47)',
 'DELAWARE (25)',
 'QUEENS (81)',
 'NEW YORK (61)',
 'ESSEX (31)',
 'QUEENS (81)',
 'MONTGOMERY (57)',
 'STEUBEN (101)',
 'QUEENS (81)',
 'JEFFERSON (45)',
 'BRONX (5)',
 'NASSAU (59)',
 'QUEENS (81)',
 'NASSAU (59)',
 'LIVINGSTON (51)',
 'NASSAU (59)',
 'ESSEX (31)',
 'JEFFERSON (45)',
 'NIAGARA (63)',
 'DUTCHESS (27)',
 'ESSEX (31)',
 'DUTCHESS (27)',
 'NEW YORK (61)',
 'ESSEX (31)',
 'GENESEE (37)',
 'MONROE (55)',
 'ORLEANS (73)',
 'ERIE (29)',
 'KINGS (47)',
 'MONROE (55)',
 'NEW YORK (61)',
 'KINGS (47)',
 'ROCKLAND (87)',
 'SARATOGA (91)',
 'ORLEANS (73)',
 'CHAUTAUQUA (13)',
 'QUEENS (81)',
 'MONROE (55)',
 'NASSAU (59)',
 'ONTARIO (69)',
 'NASSAU (59)',
 'WARREN (113)',
 'TOMPKINS (109)',
 'DUTCHESS (27)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'NASSAU (59)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ULSTER (111)',
 'ONONDAGA (67)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'BRONX (5)',
 'CAYUGA (11)',
 'ORANGE (71)',
 'DUTCHESS (27)',
 'NASSAU (59)',
 'BROOME (7)',
 'BRONX (5)',
 'BRONX (5)',
 'KINGS (47)',
 'SUFFOLK (103)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ESSEX (31)',
 'DUTCHESS (27)',
 'TIOGA (107)',
 'ROCKLAND (87)',
 'OSWEGO (75)',
 'QUEENS (81)',
 'ORANGE (71)',
 'BRONX (5)',
 'NEW YORK (61)',
 'MONROE (55)',
 'ERIE (29)',
 'ALBANY (1)',
 'STEUBEN (101)',
 'MONROE (55)',
 'TOMPKINS (109)',
 'KINGS (47)',
 'MONROE (55)',
 'KINGS (47)',
 'TIOGA (107)',
 'NASSAU (59)',
 'ROCKLAND (87)',
 'ERIE (29)',
 'ULSTER (111)',
 'NEW YORK (61)',
 'KINGS (47)',
 'NEW YORK (61)',
 'CHAUTAUQUA (13)',
 'DUTCHESS (27)',
 'STEUBEN (101)',
 'NIAGARA (63)',
 'OSWEGO (75)',
 'ONEIDA (65)',
 'CAYUGA (11)',
 'DELAWARE (25)',
 'NASSAU (59)',
 'QUEENS (81)',
 'QUEENS (81)',
 'NASSAU (59)',
 'SCHOHARIE (95)',
 'OSWEGO (75)',
 'CORTLAND (23)',
 'ONONDAGA (67)',
 'ROCKLAND (87)',
 'HERKIMER (43)',
 'ERIE (29)',
 'KINGS (47)',
 'ERIE (29)',
 'MADISON (53)',
 'RENSSELAER (83)',
 'BRONX (5)',
 'QUEENS (81)',
 'MONROE (55)',
 'ST LAWRENCE (89)',
 'ORANGE (71)',
 'ERIE (29)',
 'RENSSELAER (83)',
 'OTSEGO (77)',
 'QUEENS (81)',
 'SUFFOLK (103)',
 'ONEIDA (65)',
 'NEW YORK (61)',
 'ORANGE (71)',
 'ERIE (29)',
 'JEFFERSON (45)',
 'NASSAU (59)',
 'KINGS (47)',
 'FULTON (35)',
 'MADISON (53)',
 'DUTCHESS (27)',
 'ONEIDA (65)',
 'CLINTON (19)',
 'CAYUGA (11)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'QUEENS (81)',
 'ONEIDA (65)',
 'CHAUTAUQUA (13)',
 'SUFFOLK (103)',
 'BRONX (5)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'SULLIVAN (105)',
 'ORANGE (71)',
 'KINGS (47)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'KINGS (47)',
 'QUEENS (81)',
 'KINGS (47)',
 'KINGS (47)',
 'BROOME (7)',
 'SCHENECTADY (93)',
 'MONROE (55)',
 'QUEENS (81)',
 'CLINTON (19)',
 'RICHMOND (85)',
 'FRANKLIN (33)',
 'ONEIDA (65)',
 'ERIE (29)',
 'NEW YORK (61)',
 'ORANGE (71)',
 'ONONDAGA (67)',
 'KINGS (47)',
 'QUEENS (81)',
 'KINGS (47)',
 'BRONX (5)',
 'ONTARIO (69)',
 'MONROE (55)',
 'MONROE (55)',
 'BRONX (5)',
 'NASSAU (59)',
 'KINGS (47)',
 'NIAGARA (63)',
 'WESTCHESTER (119)',
 'QUEENS (81)',
 'NASSAU (59)',
 'ORANGE (71)',
 'ONONDAGA (67)',
 'ORANGE (71)',
 'QUEENS (81)',
 'ORANGE (71)',
 'KINGS (47)',
 'CHAUTAUQUA (13)',
 'BRONX (5)',
 'QUEENS (81)',
 'ERIE (29)',
 'ORANGE (71)',
 'WAYNE (117)',
 'RENSSELAER (83)',
 'ONONDAGA (67)',
 'KINGS (47)',
 'RENSSELAER (83)',
 'ROCKLAND (87)',
 'WARREN (113)',
 'SUFFOLK (103)',
 'WYOMING (121)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SULLIVAN (105)',
 'SUFFOLK (103)',
 'WESTCHESTER (119)',
 'DELAWARE (25)',
 'SUFFOLK (103)',
 'ORANGE (71)',
 'CHENANGO (17)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'NASSAU (59)',
 'ONONDAGA (67)',
 'MONROE (55)',
 'CLINTON (19)',
 'BRONX (5)',
 'BRONX (5)',
 'NASSAU (59)',
 'ST LAWRENCE (89)',
 'PUTNAM (79)',
 'SUFFOLK (103)',
 'ONONDAGA (67)',
 'SCHOHARIE (95)',
 'ONONDAGA (67)',
 'MONROE (55)',
 'RICHMOND (85)',
 'NASSAU (59)',
 'MONROE (55)',
 'GENESEE (37)',
 'WESTCHESTER (119)',
 'SUFFOLK (103)',
 'STEUBEN (101)',
 'SCHOHARIE (95)',
 'NIAGARA (63)',
 'KINGS (47)',
 'ALBANY (1)',
 'NASSAU (59)',
 'LIVINGSTON (51)',
 'QUEENS (81)',
 'KINGS (47)',
 'DUTCHESS (27)',
 'NASSAU (59)',
 'SUFFOLK (103)',
 'NEW YORK (61)',
 'BRONX (5)',
 'ORANGE (71)',
 'NEW YORK (61)',
 'SUFFOLK (103)',
 'WAYNE (117)',
 'ERIE (29)',
 'MADISON (53)',
 'NASSAU (59)',
 'FULTON (35)',
 'FRANKLIN (33)',
 'NEW YORK (61)',
 'WASHINGTON (115)',
 'WAYNE (117)',
 'KINGS (47)',
 'OSWEGO (75)',
 'SUFFOLK (103)',
 'NIAGARA (63)',
 'BRONX (5)',
 'BROOME (7)',
 'NASSAU (59)',
 'ST LAWRENCE (89)',
 'BRONX (5)',
 'ERIE (29)',
 'BRONX (5)',
 'ALBANY (1)',
 'DELAWARE (25)',
 'ERIE (29)',
 'CHEMUNG (15)',
 'ALBANY (1)',
 'ROCKLAND (87)',
 'WARREN (113)',
 'KINGS (47)',
 'ONONDAGA (67)',
 'DUTCHESS (27)',
 'WARREN (113)',
 'DUTCHESS (27)',
 'WARREN (113)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ORANGE (71)',
 'FRANKLIN (33)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'FRANKLIN (33)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ST LAWRENCE (89)',
 'ROCKLAND (87)',
 'SUFFOLK (103)',
 'TIOGA (107)',
 'ONTARIO (69)',
 'NASSAU (59)',
 'MONROE (55)',
 'BRONX (5)',
 'CHENANGO (17)',
 'MONROE (55)',
 'RICHMOND (85)',
 'SCHENECTADY (93)',
 'ONTARIO (69)',
 'CHAUTAUQUA (13)',
 'CHAUTAUQUA (13)',
 'ONONDAGA (67)',
 'ONTARIO (69)',
 'STEUBEN (101)',
 'ORANGE (71)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'BRONX (5)',
 'MONROE (55)',
 'ONEIDA (65)',
 'BRONX (5)',
 'NASSAU (59)',
 'NASSAU (59)',
 'NASSAU (59)',
 'KINGS (47)',
 'OSWEGO (75)',
 'CORTLAND (23)',
 'MONROE (55)',
 'SUFFOLK (103)',
 'CHAUTAUQUA (13)',
 'MONROE (55)',
 'ERIE (29)',
 'RENSSELAER (83)',
 'NASSAU (59)',
 'COLUMBIA (21)',
 'DUTCHESS (27)',
 'ERIE (29)',
 'COLUMBIA (21)',
 'NIAGARA (63)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'TOMPKINS (109)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'ALBANY (1)',
 'ERIE (29)',
 'SUFFOLK (103)',
 'NEW YORK (61)',
 'MONROE (55)',
 'NASSAU (59)',
 'ALBANY (1)',
 'KINGS (47)',
 'SUFFOLK (103)',
 'WYOMING (121)',
 'SCHOHARIE (95)',
 'ULSTER (111)',
 'SUFFOLK (103)',
 'SUFFOLK (103)',
 'WESTCHESTER (119)',
 'ROCKLAND (87)',
 'ERIE (29)',
 'ERIE (29)',
 'ERIE (29)',
 'NIAGARA (63)',
 'KINGS (47)',
 'MONROE (55)',
 'NASSAU (59)',
 'ROCKLAND (87)',
 'GENESEE (37)',
 'WESTCHESTER (119)',
 'SUFFOLK (103)',
 'MONROE (55)',
 'GREENE (39)',
 'WESTCHESTER (119)',
 'ORANGE (71)',
 'ALBANY (1)',
 'WESTCHESTER (119)',
 'ERIE (29)',
 'SUFFOLK (103)',
 'NASSAU (59)',
 'WESTCHESTER (119)',
 'NIAGARA (63)',
 'ONONDAGA (67)',
 'WESTCHESTER (119)',
 'ONEIDA (65)',
 'CORTLAND (23)',
 'SUFFOLK (103)',
 'KINGS (47)',
 'ONEIDA (65)',
 'NASSAU (59)',
 'SULLIVAN (105)',
 'WESTCHESTER (119)',
 'SUFFOLK (103)',
 'KINGS (47)',
 'SULLIVAN (105)',
 'SULLIVAN (105)',
 'KINGS (47)',
 'QUEENS (81)',
 'KINGS (47)',
 'KINGS (47)',
 'KINGS (47)',
 'NEW YORK (61)',
 'SUFFOLK (103)',
 'BRONX (5)',
 'KINGS (47)',
 'QUEENS (81)',
 'QUEENS (81)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'KINGS (47)',
 'BRONX (5)',
 'KINGS (47)',
 'NEW YORK (61)',
 'QUEENS (81)',
 'NASSAU (59)',
 'WESTCHESTER (119)',
 'ALBANY (1)',
 'LIVINGSTON (51)',
 'WESTCHESTER (119)',
 'WESTCHESTER (119)',
 'WYOMING (121)',
 'RICHMOND (85)',
 'KINGS (47)',
 'KINGS (47)',
 'BRONX (5)',
 'CAYUGA (11)',
 'GENESEE (37)',
 'ST LAWRENCE (89)',
 'WESTCHESTER (119)',
 'ERIE (29)',
 'OSWEGO (75)',
 'NASSAU (59)',
 'DUTCHESS (27)',
 'MONROE (55)',
 'ONONDAGA (67)',
 'NASSAU (59)',
 'OSWEGO (75)',
 'RENSSELAER (83)',
 'SUFFOLK (103)',
 'ULSTER (111)',
 'ONTARIO (69)',
 'NASSAU (59)',
 'ORANGE (71)',
 'OSWEGO (75)',
 ...]

In [49]:
NY_dict = {
    "county_name": county,
    "Crash_date":CrashDate ,
    "Fatals": Fatals,
    "Total_vehicles":TotalVehicles
}
NY_data =pd.DataFrame(NY_dict)
NY_data

          county_name                  Crash_date  Fatals  Total_vehicles
0         FULTON (35)  /Date(1388562360000-0500)/       1               1
1         QUEENS (81)  /Date(1388559840000-0500)/       1               1
2           ERIE (29)  /Date(1388570160000-0500)/       1               1
3         NASSAU (59)  /Date(1388556600000-0500)/       1               1
4         QUEENS (81)  /Date(1388656020000-0500)/       1               2
...               ...                         ...     ...             ...
4843       ALBANY (1)  /Date(1521106800000-0400)/       1               2
4844  MONTGOMERY (57)  /Date(1532035620000-0400)/       1               2
4845     ONTARIO (69)  /Date(1533400080000-0400)/       1               2
4846     MADISON (53)  /Date(1535044560000-0400)/       1               1
4847    ROCKLAND (87)  /Date(1531621380000-0400)/       1               2

[4848 rows x 4 columns]

In [51]:
NY_county=NY_data.loc[(NY_data["county_name"]=="RICHMOND (85)") | (NY_data["county_name"]=="NEW YORK (61)") |\
              (NY_data["county_name"]=="BRONX (5)") | (NY_data["county_name"]=="KINGS (47)") |\
              (NY_data["county_name"]=="QUEENS (81)") ,:]
NY_county

        county_name                  Crash_date  Fatals  Total_vehicles
1       QUEENS (81)  /Date(1388559840000-0500)/       1               1
4       QUEENS (81)  /Date(1388656020000-0500)/       1               2
5        KINGS (47)  /Date(1388663340000-0500)/       1               2
6     RICHMOND (85)  /Date(1388570820000-0500)/       1               3
8        KINGS (47)  /Date(1389049260000-0500)/       1               1
...             ...                         ...     ...             ...
4781      BRONX (5)  /Date(1544983500000-0500)/       1               1
4782     KINGS (47)  /Date(1546299060000-0500)/       1               1
4783  NEW YORK (61)  /Date(1545133500000-0500)/       1               1
4787     KINGS (47)  /Date(1543951320000-0500)/       1               1
4789      BRONX (5)  /Date(1546224720000-0500)/       1               1

[1084 rows x 4 columns]

In [52]:
len(NY_county)

1084

In [53]:
NY_county.to_csv("NY Output")