In [18]:
import json
import requests
from pprint import pprint
import pandas as pd

In [32]:
base_url="http://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCaseList?"

params = {
    'states':'48',
    'fromYear':'',
    'toYear':'',
    'minNumOfVehicles':'1',
    'maxNumOfVehicles':'10',
    'format':'json'
}

response = requests.get(base_url,params=params)

years = ['2014','2015','2016','2017','2018']

county=[]
CrashDate=[]
Fatals=[]
TotalVehicles=[]

for year in years:
    params['fromYear'] = year
    params['toYear'] = year
    
    response = requests.get(base_url,params=params).json()
   
    for county_name in response['Results'][0]:
        county.append(county_name["CountyName"])
        CrashDate.append(county_name["CrashDate"])
        Fatals.append(county_name["Fatals"])
        TotalVehicles.append(county_name["TotalVehicles"])
county

['BEXAR (29)',
 'DALLAS (113)',
 'DALLAS (113)',
 'FORT BEND (157)',
 'GONZALES (177)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HOOD (221)',
 'HUNT (231)',
 'JONES (253)',
 'LAMB (279)',
 'PECOS (371)',
 'TITUS (449)',
 'TYLER (457)',
 'COLLIN (85)',
 'WALLER (473)',
 'ANDERSON (1)',
 'BEXAR (29)',
 'HALE (189)',
 'HARDIN (199)',
 'JACK (237)',
 'NOLAN (353)',
 'SMITH (423)',
 'TRAVIS (453)',
 'WICHITA (485)',
 'WILSON (493)',
 'BELL (27)',
 'CORYELL (99)',
 'DEAF SMITH (117)',
 'EASTLAND (133)',
 'ELLIS (139)',
 'FREESTONE (161)',
 'HARRIS (201)',
 'MILAM (331)',
 'SHELBY (419)',
 'STARR (427)',
 'TITUS (449)',
 'BEXAR (29)',
 'HUDSPETH (229)',
 'NACOGDOCHES (347)',
 'NUECES (355)',
 'HARRIS (201)',
 'WICHITA (485)',
 'BEXAR (29)',
 'GOLIAD (175)',
 'HARRIS (201)',
 'HARRIS (201)',
 'TARRANT (439)',
 'ANGELINA (5)',
 'BEXAR (29)',
 'COMAL (91)',
 'DALLAS (113)',
 'SAN PATRICIO (409)',
 'WARD (475)',
 'COOKE (97)',
 'HARRIS (201)',
 'MIDLAND (329)',
 'POTTER (375)',
 'WALLER (473)',
 'GALVESTON (167)',
 'GRAYSON (181)',
 'HARRIS (201)',
 'LUBBOCK (303)',
 'LUBBOCK (303)',
 'TRAVIS (453)',
 'COLLIN (85)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HUTCHINSON (233)',
 'MIDLAND (329)',
 'TARRANT (439)',
 'WILLIAMSON (491)',
 'CLAY (77)',
 'HARRIS (201)',
 'HARRIS (201)',
 'SAN AUGUSTINE (405)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'WOOD (499)',
 'DALLAS (113)',
 'DALLAS (113)',
 'GREGG (183)',
 'HARRIS (201)',
 'HARRIS (201)',
 'WILLIAMSON (491)',
 'BEXAR (29)',
 'TRAVIS (453)',
 'TARRANT (439)',
 'MATAGORDA (321)',
 'FORT BEND (157)',
 'SMITH (423)',
 'TARRANT (439)',
 'GRAYSON (181)',
 'KAUFMAN (257)',
 'COLEMAN (83)',
 'BOWIE (37)',
 'HENDERSON (213)',
 'DIMMIT (127)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HIDALGO (215)',
 'HARRIS (201)',
 'ECTOR (135)',
 'WILLIAMSON (491)',
 'HARRIS (201)',
 'HARRIS (201)',
 'MIDLAND (329)',
 'REEVES (389)',
 'TRAVIS (453)',
 'COTTLE (101)',
 'HIDALGO (215)',
 'HOOD (221)',
 'MONTGOMERY (339)',
 'WEBB (479)',
 'WILLIAMSON (491)',
 'COMAL (91)',
 'HALE (189)',
 'MOORE (341)',
 'TERRELL (443)',
 'EL PASO (141)',
 'FORT BEND (157)',
 'TARRANT (439)',
 'WICHITA (485)',
 'WILLACY (489)',
 'BEXAR (29)',
 'FORT BEND (157)',
 'HARRIS (201)',
 'REFUGIO (391)',
 'DENTON (121)',
 'EL PASO (141)',
 'LAMB (279)',
 'CHEROKEE (73)',
 'DALLAM (111)',
 'ERATH (143)',
 'FISHER (151)',
 'CALDWELL (55)',
 'HIDALGO (215)',
 'KLEBERG (273)',
 'NEWTON (351)',
 'NEWTON (351)',
 'TARRANT (439)',
 'UPSHUR (459)',
 'COLEMAN (83)',
 'COLLIN (85)',
 'DALLAS (113)',
 'DENTON (121)',
 'JONES (253)',
 'MIDLAND (329)',
 'FANNIN (147)',
 'GUADALUPE (187)',
 'NEWTON (351)',
 'NUECES (355)',
 'WHEELER (483)',
 'ANDERSON (1)',
 'BEXAR (29)',
 'TAYLOR (441)',
 'BELL (27)',
 'DALLAS (113)',
 'HOPKINS (223)',
 'KAUFMAN (257)',
 'BRAZORIA (39)',
 'JOHNSON (251)',
 'MONTGOMERY (339)',
 'WARD (475)',
 'HASKELL (207)',
 'KERR (265)',
 'TARRANT (439)',
 'TOM GREEN (451)',
 'COMANCHE (93)',
 'DALLAS (113)',
 'DALLAS (113)',
 'HARRIS (201)',
 'ORANGE (361)',
 'CAMERON (61)',
 'BEXAR (29)',
 'GILLESPIE (171)',
 'SMITH (423)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'MCLENNAN (309)',
 'EL PASO (141)',
 'PANOLA (365)',
 'DENTON (121)',
 'ZAVALA (507)',
 'CALDWELL (55)',
 'MIDLAND (329)',
 'BRAZORIA (39)',
 'HALE (189)',
 'MIDLAND (329)',
 'TARRANT (439)',
 'CROSBY (107)',
 'GRAYSON (181)',
 'HUNT (231)',
 'MARTIN (317)',
 'BEXAR (29)',
 'CALDWELL (55)',
 'CAMP (63)',
 'ECTOR (135)',
 'ORANGE (361)',
 'GRAYSON (181)',
 'HARRIS (201)',
 'HOWARD (227)',
 'REEVES (389)',
 'POTTER (375)',
 'GRAYSON (181)',
 'HARRIS (201)',
 'HIDALGO (215)',
 'NUECES (355)',
 'HARRIS (201)',
 'WALLER (473)',
 'CALDWELL (55)',
 'GREGG (183)',
 'TRAVIS (453)',
 'BEXAR (29)',
 'DALLAS (113)',
 'DALLAS (113)',
 'LA SALLE (283)',
 'LIBERTY (291)',
 'MCCULLOCH (307)',
 'POLK (373)',
 'SHERMAN (421)',
 'YOAKUM (501)',
 'LEE (287)',
 'GARZA (169)',
 'HARRIS (201)',
 'HAYS (209)',
 'HIDALGO (215)',
 'ANGELINA (5)',
 'CAMERON (61)',
 'LIVE OAK (297)',
 'HARRIS (201)',
 'HIDALGO (215)',
 'HARRIS (201)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'ELLIS (139)',
 'HARRIS (201)',
 'HARRIS (201)',
 'BEXAR (29)',
 'HARRIS (201)',
 'EL PASO (141)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'EL PASO (141)',
 'HARRIS (201)',
 'HARRIS (201)',
 'ANGELINA (5)',
 'BEXAR (29)',
 'BEXAR (29)',
 'CROCKETT (105)',
 'DALLAS (113)',
 'ECTOR (135)',
 'HARRIS (201)',
 'LIVE OAK (297)',
 'NACOGDOCHES (347)',
 'RANDALL (381)',
 'SMITH (423)',
 'WILBARGER (487)',
 'BEXAR (29)',
 'CALHOUN (57)',
 'COOKE (97)',
 'FAYETTE (149)',
 'GRAYSON (181)',
 'HARRIS (201)',
 'MOORE (341)',
 'SMITH (423)',
 'TARRANT (439)',
 'HARDIN (199)',
 'LUBBOCK (303)',
 'BEXAR (29)',
 'BEXAR (29)',
 'DENTON (121)',
 'GARZA (169)',
 'SABINE (403)',
 'TRAVIS (453)',
 'BEE (25)',
 'BRAZORIA (39)',
 'EL PASO (141)',
 'FORT BEND (157)',
 'HANSFORD (195)',
 'MCCULLOCH (307)',
 'TARRANT (439)',
 'CROCKETT (105)',
 'DALLAS (113)',
 'HIDALGO (215)',
 'LAMAR (277)',
 'BELL (27)',
 'BRAZORIA (39)',
 'CAMERON (61)',
 'ORANGE (361)',
 'ORANGE (361)',
 'PARMER (369)',
 'ELLIS (139)',
 'VICTORIA (469)',
 'BEXAR (29)',
 'HARRIS (201)',
 'HARRIS (201)',
 'TRAVIS (453)',
 'DALLAS (113)',
 'DENTON (121)',
 'ERATH (143)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'MIDLAND (329)',
 'BELL (27)',
 'HARRIS (201)',
 'HARRIS (201)',
 'TOM GREEN (451)',
 'HARRIS (201)',
 'HARRISON (203)',
 'HARRIS (201)',
 'LA SALLE (283)',
 'COLORADO (89)',
 'ECTOR (135)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HAYS (209)',
 'MCLENNAN (309)',
 'ATASCOSA (13)',
 'BEXAR (29)',
 'CALHOUN (57)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'TRAVIS (453)',
 'TRINITY (455)',
 'WILLIAMSON (491)',
 'BEXAR (29)',
 'DALLAS (113)',
 'ECTOR (135)',
 'FISHER (151)',
 'HUTCHINSON (233)',
 'JOHNSON (251)',
 'TARRANT (439)',
 'BEXAR (29)',
 'BEXAR (29)',
 'BEXAR (29)',
 'HARRIS (201)',
 'JOHNSON (251)',
 'ORANGE (361)',
 'SMITH (423)',
 'BEXAR (29)',
 'HIDALGO (215)',
 'SAN PATRICIO (409)',
 'DEAF SMITH (117)',
 'TAYLOR (441)',
 'TYLER (457)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HOPKINS (223)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'GOLIAD (175)',
 'WILLIAMSON (491)',
 'WARD (475)',
 'NUECES (355)',
 'TRAVIS (453)',
 'VICTORIA (469)',
 'HARRIS (201)',
 'SMITH (423)',
 'BEXAR (29)',
 'HIDALGO (215)',
 'ORANGE (361)',
 'ATASCOSA (13)',
 'DE WITT (123)',
 'BROOKS (47)',
 'TARRANT (439)',
 'BEXAR (29)',
 'BRAZOS (41)',
 'ANGELINA (5)',
 'MCMULLEN (311)',
 'HARRIS (201)',
 'ROBERTS (393)',
 'HARRIS (201)',
 'BEXAR (29)',
 'LEE (287)',
 'ECTOR (135)',
 'HARRIS (201)',
 'NUECES (355)',
 'NUECES (355)',
 'SAN PATRICIO (409)',
 'MONTGOMERY (339)',
 'HOCKLEY (219)',
 'MIDLAND (329)',
 'BEXAR (29)',
 'GONZALES (177)',
 'BELL (27)',
 'FORT BEND (157)',
 'HARTLEY (205)',
 'MONTGOMERY (339)',
 'STARR (427)',
 'BRAZORIA (39)',
 'DALLAS (113)',
 'BRAZORIA (39)',
 'DALLAS (113)',
 'KNOX (275)',
 'MIDLAND (329)',
 'SAN PATRICIO (409)',
 'WALKER (471)',
 'CHAMBERS (71)',
 'CRANE (103)',
 'DALLAS (113)',
 'DALLAS (113)',
 'EL PASO (141)',
 'HASKELL (207)',
 'HIDALGO (215)',
 'FORT BEND (157)',
 'NUECES (355)',
 'YOAKUM (501)',
 'BRAZORIA (39)',
 'SMITH (423)',
 'DALLAS (113)',
 'WILBARGER (487)',
 'FANNIN (147)',
 'FORT BEND (157)',
 'GRAYSON (181)',
 'LEE (287)',
 'POLK (373)',
 'UPSHUR (459)',
 'HARRIS (201)',
 'DALLAS (113)',
 'ZAVALA (507)',
 'HENDERSON (213)',
 'POTTER (375)',
 'SMITH (423)',
 'HUDSPETH (229)',
 'ECTOR (135)',
 'PANOLA (365)',
 'VICTORIA (469)',
 'DALLAS (113)',
 'HUNT (231)',
 'MIDLAND (329)',
 'LAMAR (277)',
 'POTTER (375)',
 'BROOKS (47)',
 'HARRIS (201)',
 'BLANCO (31)',
 'CALHOUN (57)',
 'COMAL (91)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HUDSPETH (229)',
 'JIM WELLS (249)',
 'MIDLAND (329)',
 'SMITH (423)',
 'HARRIS (201)',
 'PARMER (369)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'TRAVIS (453)',
 'UPSHUR (459)',
 'BOWIE (37)',
 'DALLAM (111)',
 'DALLAS (113)',
 'HUNT (231)',
 'LUBBOCK (303)',
 'MIDLAND (329)',
 'PANOLA (365)',
 'TARRANT (439)',
 'FALLS (145)',
 'GREGG (183)',
 'HARRIS (201)',
 'JOHNSON (251)',
 'BEXAR (29)',
 'CULBERSON (109)',
 'MILLS (333)',
 'ANDREWS (3)',
 'DALLAS (113)',
 'ECTOR (135)',
 'FREESTONE (161)',
 'HARRIS (201)',
 'HARRIS (201)',
 'JACKSON (239)',
 'WARD (475)',
 'WILLIAMSON (491)',
 'BEXAR (29)',
 'BEXAR (29)',
 'ELLIS (139)',
 'HARRIS (201)',
 'HIDALGO (215)',
 'HILL (217)',
 'KAUFMAN (257)',
 'LIMESTONE (293)',
 'MCLENNAN (309)',
 'TARRANT (439)',
 'BELL (27)',
 'COOKE (97)',
 'DALLAS (113)',
 'DALLAS (113)',
 'ELLIS (139)',
 'EL PASO (141)',
 'GONZALES (177)',
 'KAUFMAN (257)',
 'POTTER (375)',
 'TRAVIS (453)',
 'HARRIS (201)',
 'HARTLEY (205)',
 'HUNT (231)',
 'RUNNELS (399)',
 'TARRANT (439)',
 'TARRANT (439)',
 'VAN ZANDT (467)',
 'ANDERSON (1)',
 'DALLAS (113)',
 'ELLIS (139)',
 'LIBERTY (291)',
 'MONTGOMERY (339)',
 'NUECES (355)',
 'BELL (27)',
 'DALLAS (113)',
 'HARRIS (201)',
 'LAMAR (277)',
 'MIDLAND (329)',
 'NUECES (355)',
 'SAN PATRICIO (409)',
 'SAN PATRICIO (409)',
 'WOOD (499)',
 'COLLIN (85)',
 'HARRIS (201)',
 'KERR (265)',
 'MONTGOMERY (339)',
 'MONTGOMERY (339)',
 'TRAVIS (453)',
 'BEXAR (29)',
 'DENTON (121)',
 'JOHNSON (251)',
 'BAYLOR (23)',
 'BEE (25)',
 'EL PASO (141)',
 'HARRIS (201)',
 'HARRIS (201)',
 'KENDALL (259)',
 'UPTON (461)',
 'UVALDE (463)',
 'BEXAR (29)',
 'SOMERVELL (425)',
 'FORT BEND (157)',
 'GREGG (183)',
 'HILL (217)',
 'HOOD (221)',
 'HUDSPETH (229)',
 'JIM WELLS (249)',
 'MCLENNAN (309)',
 'MCMULLEN (311)',
 'MONTGOMERY (339)',
 'NUECES (355)',
 'TARRANT (439)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'LUBBOCK (303)',
 'NEWTON (351)',
 'ORANGE (361)',
 'DALLAS (113)',
 'LAMAR (277)',
 'SHACKELFORD (417)',
 'TARRANT (439)',
 'VICTORIA (469)',
 'WILLIAMSON (491)',
 'BEXAR (29)',
 'DALLAS (113)',
 'JOHNSON (251)',
 'KAUFMAN (257)',
 'LAVACA (285)',
 'TARRANT (439)',
 'GALVESTON (167)',
 'HARRIS (201)',
 'BEXAR (29)',
 'BOSQUE (35)',
 'DE WITT (123)',
 'GREGG (183)',
 'MADISON (313)',
 'SAN PATRICIO (409)',
 'SAN PATRICIO (409)',
 'ATASCOSA (13)',
 'BEXAR (29)',
 'HARRIS (201)',
 'SAN SABA (411)',
 'ANDERSON (1)',
 'BEXAR (29)',
 'BEXAR (29)',
 'DALLAS (113)',
 'HAMILTON (193)',
 'HAMILTON (193)',
 'HARRIS (201)',
 'MONTGOMERY (339)',
 'MIDLAND (329)',
 'RUNNELS (399)',
 'HARRIS (201)',
 'TRINITY (455)',
 'MONTGOMERY (339)',
 'ANDERSON (1)',
 'CHEROKEE (73)',
 'BASTROP (21)',
 'BELL (27)',
 'BEXAR (29)',
 'DALLAS (113)',
 'DENTON (121)',
 'HARRIS (201)',
 'NACOGDOCHES (347)',
 'NAVARRO (349)',
 'WOOD (499)',
 'BEXAR (29)',
 'RUSK (401)',
 'TRAVIS (453)',
 'VICTORIA (469)',
 'WILLIAMSON (491)',
 'BEXAR (29)',
 'CHEROKEE (73)',
 'DALLAS (113)',
 'WASHINGTON (477)',
 'BEE (25)',
 'FAYETTE (149)',
 'HIDALGO (215)',
 'LUBBOCK (303)',
 'WILSON (493)',
 'BRAZORIA (39)',
 'LAMPASAS (281)',
 'MCLENNAN (309)',
 'TARRANT (439)',
 'ECTOR (135)',
 'ELLIS (139)',
 'HARRIS (201)',
 'HOUSTON (225)',
 'LIBERTY (291)',
 'TARRANT (439)',
 'TAYLOR (441)',
 'BOWIE (37)',
 'BEXAR (29)',
 'BREWSTER (43)',
 'MCLENNAN (309)',
 'KLEBERG (273)',
 'NUECES (355)',
 'LLANO (299)',
 'GREGG (183)',
 'WEBB (479)',
 'EL PASO (141)',
 'HARRIS (201)',
 'BEXAR (29)',
 'DENTON (121)',
 'HARRIS (201)',
 'LUBBOCK (303)',
 'RUSK (401)',
 'BANDERA (19)',
 'DALLAS (113)',
 'FORT BEND (157)',
 'HARDEMAN (197)',
 'HARRIS (201)',
 'HASKELL (207)',
 'WINKLER (495)',
 'BLANCO (31)',
 'DALLAS (113)',
 'DALLAS (113)',
 'DONLEY (129)',
 'HIDALGO (215)',
 'VAL VERDE (465)',
 'JONES (253)',
 'ELLIS (139)',
 'HARRIS (201)',
 'TARRANT (439)',
 'HARRIS (201)',
 'HAYS (209)',
 'GRAYSON (181)',
 'HARRIS (201)',
 'HIDALGO (215)',
 'MAVERICK (323)',
 'MILAM (331)',
 'HILL (217)',
 'LAMAR (277)',
 'GREGG (183)',
 'JEFFERSON (245)',
 'JEFFERSON (245)',
 'HIDALGO (215)',
 'WICHITA (485)',
 'TARRANT (439)',
 'TARRANT (439)',
 'WARD (475)',
 'HARRIS (201)',
 'WARD (475)',
 'DALLAS (113)',
 'BROOKS (47)',
 'ELLIS (139)',
 'NUECES (355)',
 'EL PASO (141)',
 'HIDALGO (215)',
 'WEBB (479)',
 'CAMERON (61)',
 'EL PASO (141)',
 'JACK (237)',
 'MCLENNAN (309)',
 'ANGELINA (5)',
 'CONCHO (95)',
 'HARRIS (201)',
 'HOUSTON (225)',
 'HIDALGO (215)',
 'POTTER (375)',
 'STEPHENS (429)',
 'BEXAR (29)',
 'HARRIS (201)',
 'HUDSPETH (229)',
 'JOHNSON (251)',
 'MILLS (333)',
 'POTTER (375)',
 'REFUGIO (391)',
 'STARR (427)',
 'TRAVIS (453)',
 'WASHINGTON (477)',
 'ANDREWS (3)',
 'BEXAR (29)',
 'BEXAR (29)',
 'BEXAR (29)',
 'BEXAR (29)',
 'BOWIE (37)',
 'HARRIS (201)',
 'AUSTIN (15)',
 'CHAMBERS (71)',
 'KERR (265)',
 'MCLENNAN (309)',
 'SMITH (423)',
 'TARRANT (439)',
 'CHAMBERS (71)',
 'NUECES (355)',
 'TARRANT (439)',
 'ANGELINA (5)',
 'BELL (27)',
 'EASTLAND (133)',
 'GUADALUPE (187)',
 'HARRIS (201)',
 'REFUGIO (391)',
 'HARRIS (201)',
 'HARRIS (201)',
 'RUSK (401)',
 'WASHINGTON (477)',
 'HARRIS (201)',
 'MITCHELL (335)',
 'RUNNELS (399)',
 'UPSHUR (459)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'SUTTON (435)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'BEXAR (29)',
 'GARZA (169)',
 'HARRIS (201)',
 'HARRIS (201)',
 'LA SALLE (283)',
 'NUECES (355)',
 'WEBB (479)',
 'CAMP (63)',
 'PARMER (369)',
 'TAYLOR (441)',
 'BEXAR (29)',
 'BRAZORIA (39)',
 'GRIMES (185)',
 'LIVE OAK (297)',
 'RANDALL (381)',
 'CALLAHAN (59)',
 'COOKE (97)',
 'HARRIS (201)',
 'TARRANT (439)',
 'TARRANT (439)',
 'BASTROP (21)',
 'BOSQUE (35)',
 'BRAZORIA (39)',
 'ELLIS (139)',
 'FORT BEND (157)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HILL (217)',
 'HUNT (231)',
 'JASPER (241)',
 'TAYLOR (441)',
 'BEXAR (29)',
 'CAMP (63)',
 'ERATH (143)',
 'HARRIS (201)',
 'LAMAR (277)',
 'MIDLAND (329)',
 'RANDALL (381)',
 'BEXAR (29)',
 'HARRIS (201)',
 'DALLAS (113)',
 'MIDLAND (329)',
 'DIMMIT (127)',
 'DALLAS (113)',
 'HIDALGO (215)',
 'HILL (217)',
 'HUDSPETH (229)',
 'MADISON (313)',
 'POTTER (375)',
 'REEVES (389)',
 'SMITH (423)',
 'BAYLOR (23)',
 'DALLAS (113)',
 'FISHER (151)',
 'PARKER (367)',
 'REEVES (389)',
 'DALLAS (113)',
 'DALLAS (113)',
 'HARRIS (201)',
 'RED RIVER (387)',
 'YOUNG (503)',
 'COLLIN (85)',
 'DALLAS (113)',
 'DALLAS (113)',
 'ELLIS (139)',
 'HAYS (209)',
 'HIDALGO (215)',
 'HILL (217)',
 'MIDLAND (329)',
 'NUECES (355)',
 'PARKER (367)',
 'BASTROP (21)',
 'DALLAS (113)',
 'GALVESTON (167)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HARRIS (201)',
 'JACK (237)',
 'MONTGOMERY (339)',
 'TARRANT (439)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HARRIS (201)',
 'HUDSPETH (229)',
 'HUTCHINSON (233)',
 'KENDALL (259)',
 'LEON (289)',
 'LUBBOCK (303)',
 'LUBBOCK (303)',
 'MONTGOMERY (339)',
 'SHELBY (419)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'WASHINGTON (477)',
 'BRAZORIA (39)',
 'GRIMES (185)',
 'HARDIN (199)',
 'HARRIS (201)',
 'HILL (217)',
 'KERR (265)',
 'NACOGDOCHES (347)',
 'ORANGE (361)',
 'TARRANT (439)',
 'TARRANT (439)',
 'WEBB (479)',
 'CALDWELL (55)',
 'CARSON (65)',
 'DENTON (121)',
 'HARRIS (201)',
 'DALLAS (113)',
 'HARRIS (201)',
 'JEFFERSON (245)',
 'MADISON (313)',
 'MCCULLOCH (307)',
 'TARRANT (439)',
 'COLLIN (85)',
 'POTTER (375)',
 'WALKER (471)',
 'CAMERON (61)',
 'GALVESTON (167)',
 'HOUSTON (225)',
 'WOOD (499)',
 'BEXAR (29)',
 'GUADALUPE (187)',
 'TARRANT (439)',
 'TRAVIS (453)',
 'HIDALGO (215)',
 'JIM WELLS (249)',
 'TAYLOR (441)',
 'TARRANT (439)',
 'BEXAR (29)',
 'MAVERICK (323)',
 'NUECES (355)',
 'BEXAR (29)',
 'HARRIS (201)',
 'EL PASO (141)',
 'SMITH (423)',
 'WHARTON (481)',
 'BRAZORIA (39)',
 'VICTORIA (469)',
 'HARRIS (201)',
 'MCLENNAN (309)',
 'ANGELINA (5)',
 'CHEROKEE (73)',
 'HARRIS (201)',
 'RUSK (401)',
 'BAYLOR (23)',
 'DALLAS (113)',
 'ORANGE (361)',
 'DALLAS (113)',
 'HARRIS (201)',
 'HOOD (221)',
 'MAVERICK (323)',
 'REAGAN (383)',
 'HARRIS (201)',
 'TRAVIS (453)',
 'DALLAS (113)',
 'FREESTONE (161)',
 'GUADALUPE (187)',
 'MONTGOMERY (339)',
 'RANDALL (381)',
 'RUSK (401)',
 'TRAVIS (453)',
 'VAN ZANDT (467)',
 'VICTORIA (469)',
 'HARRIS (201)',
 'ANGELINA (5)',
 'HARRIS (201)',
 'IRION (235)',
 'PARKER (367)',
 'BEXAR (29)',
 'HARRIS (201)',
 'HOPKINS (223)',
 'COKE (81)',
 'HIDALGO (215)',
 'HARRIS (201)',
 'BEXAR (29)',
 'DALLAS (113)',
 'EL PASO (141)',
 'TARRANT (439)',
 'DE WITT (123)',
 'BEXAR (29)',
 'LEON (289)',
 'EL PASO (141)',
 'FORT BEND (157)',
 'DENTON (121)',
 'DENTON (121)',
 'WHARTON (481)',
 'TRAVIS (453)',
 'HARRIS (201)',
 'WEBB (479)',
 'COLEMAN (83)',
 'ECTOR (135)',
 'MILAM (331)',
 'UPTON (461)',
 'EL PASO (141)',
 'DALLAS (113)',
 'JACKSON (239)',
 'HIDALGO (215)',
 'ATASCOSA (13)',
 'EL PASO (141)',
 'BURNET (53)',
 'MONTGOMERY (339)',
 'GRAYSON (181)',
 'GRAYSON (181)',
 'COLLIN (85)',
 'DALLAS (113)',
 'MONTGOMERY (339)',
 'WISE (497)',
 'BEXAR (29)',
 'CASS (67)',
 'DALLAS (113)',
 'DENTON (121)',
 'GLASSCOCK (173)',
 'HUDSPETH (229)',
 'KAUFMAN (257)',
 'BELL (27)',
 'BEXAR (29)',
 'BRAZOS (41)',
 'DALLAS (113)',
 'DALLAS (113)',
 'DAWSON (115)',
 'FORT BEND (157)',
 'GALVESTON (167)',
 'HARRIS (201)',
 'HARRIS (201)',
 'SAN PATRICIO (409)',
 'DE WITT (123)',
 'TRAVIS (453)',
 'BEXAR (29)',
 'BEXAR (29)',
 'CHEROKEE (73)',
 'CULBERSON (109)',
 'FORT BEND (157)',
 'HARRIS (201)',
 'HAYS (209)',
 'JEFF DAVIS (243)',
 'MORRIS (343)',
 'TARRANT (439)',
 'TYLER (457)',
 'BEXAR (29)',
 'FREESTONE (161)',
 'HARRIS (201)',
 'KAUFMAN (257)',
 'NAVARRO (349)',
 ...]

In [27]:
len(county)

16461

In [28]:
TX_dict = {
    "county_name": county,
    "Crash_date":CrashDate ,
    "Fatals": Fatals,
    "Total_vehicles":TotalVehicles
}
TX_data =pd.DataFrame(TX_dict)
TX_data

           county_name                  Crash_date  Fatals  Total_vehicles
0           BEXAR (29)  /Date(1388568120000-0500)/       1               2
1         DALLAS (113)  /Date(1388553600000-0500)/       1               1
2         DALLAS (113)  /Date(1388607060000-0500)/       2               2
3      FORT BEND (157)  /Date(1388565540000-0500)/       1               1
4       GONZALES (177)  /Date(1388566800000-0500)/       1               1
...                ...                         ...     ...             ...
16456   MCLENNAN (309)  /Date(1545867360000-0500)/       1               1
16457     KARNES (255)  /Date(1542167400000-0500)/       1               2
16458  GALVESTON (167)  /Date(1537470780000-0400)/       1               2
16459     TRAVIS (453)  /Date(1539151560000-0400)/       1               1
16460    TARRANT (439)  /Date(1537959360000-0400)/       1               1

[16461 rows x 4 columns]

In [29]:
dallas_county=TX_data.loc[TX_data["county_name"]=="DALLAS (113)",:]

In [30]:
dallas_county.head()

     county_name                  Crash_date  Fatals  Total_vehicles
1   DALLAS (113)  /Date(1388553600000-0500)/       1               1
2   DALLAS (113)  /Date(1388607060000-0500)/       2               2
52  DALLAS (113)  /Date(1389231420000-0500)/       1               1
67  DALLAS (113)  /Date(1389462720000-0500)/       1               3
80  DALLAS (113)  /Date(1389674700000-0500)/       1               1

In [31]:
len(dallas_county)

1298

In [25]:
dallas_county.to_csv("Dallas County Output")

In [33]:
houston_county=TX_data.loc[TX_data["county_name"]=="HARRIS (201)",:]

In [34]:
houston_county

        county_name                  Crash_date  Fatals  Total_vehicles
5      HARRIS (201)  /Date(1388556000000-0500)/       1               2
6      HARRIS (201)  /Date(1388561100000-0500)/       1               1
7      HARRIS (201)  /Date(1388558400000-0500)/       1               1
33     HARRIS (201)  /Date(1388831400000-0500)/       1               1
42     HARRIS (201)  /Date(1389067500000-0500)/       2               2
...             ...                         ...     ...             ...
16430  HARRIS (201)  /Date(1538498640000-0400)/       1               3
16431  HARRIS (201)  /Date(1546121820000-0500)/       1               3
16432  HARRIS (201)  /Date(1544323200000-0500)/       1               1
16442  HARRIS (201)  /Date(1546259100000-0500)/       1               2
16443  HARRIS (201)  /Date(1546028940000-0500)/       1               1

[1974 rows x 4 columns]

In [35]:
houston_county.to_csv("Harris County Output")

In [36]:
bexar_county=TX_data.loc[TX_data["county_name"]=="BEXAR (29)",:]

In [37]:
bexar_county

      county_name                  Crash_date  Fatals  Total_vehicles
0      BEXAR (29)  /Date(1388568120000-0500)/       1               2
18     BEXAR (29)  /Date(1388752200000-0500)/       1               1
38     BEXAR (29)  /Date(1388908320000-0500)/       1               1
44     BEXAR (29)  /Date(1389098880000-0500)/       1               2
50     BEXAR (29)  /Date(1389243000000-0500)/       1               1
...           ...                         ...     ...             ...
16261  BEXAR (29)  /Date(1545049200000-0500)/       1               1
16301  BEXAR (29)  /Date(1544864400000-0500)/       1               2
16302  BEXAR (29)  /Date(1545794280000-0500)/       1               2
16441  BEXAR (29)  /Date(1546303020000-0500)/       1               1
16446  BEXAR (29)  /Date(1543273500000-0500)/       1               1

[885 rows x 4 columns]

In [38]:
bexar_county.to_csv("output counties/Bexar County Output")